body{
  
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  
}
.list{
  list-style: none;
}
.web-studio-link{
  text-decoration: none;

}

.web-studio-color-web{
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196F3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  
  
  
}
.web-studio-color-studio{
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  

}

.link{
  color: #000;
  text-decoration: none;
}
.navigation-links{
  
  font-weight: 500;
  font-size: 14px;
}

.navigation-links .link:hover,
.navigation-links .link:focus{
  color: #2196F3;
  

}
.contacts-mail-links .link:hover,
.contacts-mail-links .link:focus{
  color: #2196F3;
}



.order{
 
  width: 1600px;
  height: 400px;
  left: 0px;
  top: 80px;

  background: #2F303A;
}
.order-text{
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.order-button{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;

}
.order-button .button:hover,
.order-button .button:focus{
  color: #188CE8;

.button-text{
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  
}
