body{
  
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  background: #E5E5E5;
  color: #212121;
}
.page-header{
  background: #FFFFFF;

}
.list{
  list-style: none;
}
.web-studio-link{
  text-decoration: none;

}

.web-studio-color-web{
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #2196F3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  
  
  
}
.web-studio-color-studio{
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  

}

.link{
  color: #212121;
  text-decoration: none;
}
.navigation-links{
  font-weight: 500;
  font-size: 14px;
  
}
.contacts-mail-links,
.contacts-tel-links{
  color: #757575
}
.navigation-links .link:hover,
.navigation-links .link:focus{
  color: #2196F3;
  
}
.current{
  color:#2196F3 ;
}
.contacts-mail-links .link:hover,
.contacts-mail-links .link:focus{
  color: #2196F3;
}



.order{
 
  width: 1600px;
  height: 400px;
  left: 0px;
  top: 80px;

  background: #2F303A;
}
.order-text{
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.order-button{
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;

}
.order-button .button:hover,
.order-button .button:focus{
  color: #188CE8;
}
.button-text{
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  
}
.title{
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.title-content{
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  ;
}
.work-section{
  background: #E5E5E5;
}
.title-work{
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  
  
  }
  .team-section{
    background: #F5F4FA;
  }
  .title-team{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
  }
.team-subtitle{
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.team-functions{
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}
.contact{
width: 1600px;
height: 130px;
left: 0px;
top: 2097px;
background: #2F303A;
}
.contact-link{
  color: #757575;
}
.list-contact .link:hover,
.list-contact .link:focus{
  color: #2196F3;
}
.portfolio{
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.button-portfolio{ 
  background: #F5F4FA;
  border-radius: 4px;
}

.button-portfolio .button:hover,
.button-portfolio .button:focus{
  color: #2196F3;
}
.current{
 color: #2196F3;
}
.title-portfolio{
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
}


.title-function{

  font-size: 16px;
  line-height: 30px;
  color: #757575;
  
}